# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directories
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE directories (PyCharm, VSCode, etc.)
.idea/
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Output files / directories (generated models, images, logs, etc.)
outputs/
